.LevelsBlock {
    position: relative;
	width: -moz-fit-content;
	width: fit-content;
	margin: 90px auto;
	color: #ffffff;
	.titleBlock {
        display: flex;
		justify-content: center;
		margin-bottom: 20px;
        align-items: center;
	}

    .titleBlock > img{
        position: absolute;
        right: 0;
    }
}
