@use '../../utils/ScssUtils/toRem.scss' as *;
@use '../../scssVariables' as *;

form {
	display: flex;
	margin: auto;
	justify-content: center;
	width: toRem(281);
	flex-direction: column;
	
	.formInputs > label {
		display: inline-flex;
		width: 100%;
		flex-direction: column;
	}


	.formInputs > label:not(:has(input[type='checkbox'])) > span {
		font-size: toRem($errorMessage-size);
		color: $errorMessage-color;
	}

	.formInputs > label + label {
		margin-top: toRem(9);
	}

	.formInputs > label > input[type='checkbox'] {
		display: none;
	}

	.formInputs > label:has(input[type='checkbox']) {
		display: flex;
		justify-content: center;
	}

	.formInputs > label:has(input[type='checkbox']) > span {
		color: $placeholder-color;
		font-size: toRem($inputType-size);
	}

	.formInputs > label:has(input[type='checkbox']) {
		position: relative;
		cursor: pointer;
		padding-left: toRem(20);
	}

	.formInputs > label:has(input[type='checkbox'])::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: toRem(18);
		height: toRem(18);
		border: 2px solid #474747;
		border-radius: toRem(3);
	}

	.formInputs > label:has(input[type='checkbox']:checked)::before {
		content: '✓';
		position: absolute;
		left: 0;
		top: 0;
		color: white;
		width: toRem(18);
		height: toRem(18);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(13);
		font-weight: 600;
	}


	// input[type='checkbox']:checked::after {
	// 	content: '✓';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: toRem(18);
	// 	height: toRem(18);
	// }
}



form button {
	margin-top: toRem(9);
}

.isAccount {
	color: $placeholder-color;
	font-size: toRem($isAccount-size);
	display: flex;
	justify-content: center;
	margin-top: toRem(9);

	a {
		color: $action-color;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		margin-left: 5px;
	}
}