@use '../../scssVariables' as *;
@use '../../utils/ScssUtils/toRem.scss' as *;

.button {
	border-radius: toRem(11);
	color: $main-color;
	padding: toRem(11) toRem(26);
	font-weight: 700;
}

.wrongAuth {
	background-color: $wrongAuth-background;
}

.displayBlock {
	display: block;
}

.backgroundColorBlue {
	background: $button-background;
}

.backgroundColorTransparent {
	background: transparent;
}

.mc {
	margin: auto;
}