@use '../../scssVariables' as *;
@use '../../utils/ScssUtils/toRem.scss' as *;


.closeBtn {
	// position: absolute;
	// right: 51px;
	// top: 41px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	border: none !important;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 18px;
		height: 3px;
		// background-color: #ffffff;
		transform-origin: center;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	
}

.editBtn {
	display: flex;
	gap: 2px;
	flex-direction: column;
	width: 3px;
	cursor: pointer;
	
	span {
		display: inline-block;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background-color: $main-color;
	}

	&::before,
  &::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $main-color;
    // left: 0;
  }
}

.wrongAuth {
	background-color: $wrongAuth-background;
}

.displayBlock {
	display: block;
}

.backgroundColorBlue {
	background: $button-background;
}

.backgroundColorTransparent {
	background: transparent;
	color: $action-color;
}

.mc {
	margin: auto;
}

.modalPrimary {
	font-family: $font-family__Inter--bold;
	padding: toRem(10) toRem(38);
	margin-top: toRem(32);
}

.blueBorder {
	border: 2px solid $action-color;
}