@use '../../scssVariables' as *;
@use '../../utils/ScssUtils/toRem.scss' as *;

.button {
	border-radius: toRem(11);
	color: $main-color;
	padding: toRem(11) toRem(26);
	font-weight: 700;
}

.closeBtn {
	position: absolute;
	right: 51px;
	top: 41px;
	width: 36px;
	height: 36px;
	border: none;
	cursor: pointer;
	border: none !important;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 18px;
		height: 3px;
		background-color: #ffffff;
		transform-origin: center;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	
}

.wrongAuth {
	background-color: $wrongAuth-background;
}

.displayBlock {
	display: block;
}

.backgroundColorBlue {
	background: $button-background;
}

.backgroundColorTransparent {
	background: transparent;
	color: $action-color;
}

.mc {
	margin: auto;
}

.modalPrimary {
	font-family: $font-family__Inter--bold;
	padding: toRem(10) toRem(38);
	margin-top: toRem(32);
}

.blueBorder {
	border: 2px solid $action-color;
}