@use '../../utils/ScssUtils/toRem.scss' as *;

.Header{
	height: toRem(70);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px toRem(88) 0 toRem(77);

	.TitleBlock{
			display: flex;
			span{
					margin-left: toRem(4);
			}
			img{
					width:	16px;
					height: auto;
			}
			cursor: pointer;
	}

	.AvatarBlock{
			display: inline-flex;
			align-items: center;
			span{
					width: -moz-fit-content;
					width: fit-content;
					margin-left: toRem(8);
					margin-right: toRem(4);
			}
			img:nth-child(1){
					width: 22px;
					height: auto;
			} 
			img:nth-child(3){
					width: 18px;
					height: auto;
			}
			cursor: pointer;
	}

	.Span{
			color: white;
			font-size: 0.91rem;
			width: 5.375rem;
			cursor: pointer;
	}
}