@use '../../scssVariables' as *;
@use '../../utils/ScssUtils/toRem.scss' as *;

button {
	margin-left: toRem(5);
}

.level {
	color: rgba(255, 255, 255, 0.2);
	font-size: toRem($navigateToLevels-size);
	font-family: $font-family__Inter--bold;
	line-height: 140%;
	padding-top: toRem(4);
}

.navigateToLevels {
	display: flex;
	align-items: center;
	text-decoration-line: none;
	& .level + .level{
		margin-left: toRem(4);	
	}
	& img{
		margin-right: toRem(8);
	}
}

