@use '../../../../scssVariables' as *;
@use '../../../../utils/ScssUtils/toRem.scss' as *;

.course {
	cursor: pointer;
	background-color: $courses__background-color;
	border-radius: toRem(11);
	position: relative;
	transition: transform 0.7s linear;

	&:hover {
		transform: scale(1.1);
	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		text-decoration: none;
	}

	&__image {
		max-height: toRem(146);
		overflow: hidden;
		background-color: #72bcf4;
		border-radius: toRem(11) toRem(11) 0 0;
		padding-top: 10px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-height: toRem(46);
	}

	&__favorite {
		background-color: none;
		border: none;
		padding: 8px;
		margin: -8px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 18px;
		margin-top: 8px;
	}

	&__favorite svg {
		pointer-events: none;
		width: 21px;
		height: 21px;
	}

	&__title {
		color: $main-color;
		font-weight: 700;
		font-size: toRem(16);
		font-family: $font-family__DroidSans--bold;
		white-space: pre-line;
		padding: 18px 26px 0;
		flex: 1;
	}

	&__description {
		color: $course-color;
		font-size: toRem(13);
		font-family: $font-family__DroidSans;
		line-height: 120%;
		margin-top: toRem(10);
		white-space: pre-line;
		padding: 0 26px;
	}

	&__statistics {
		display: inline-flex;
		column-gap: toRem(8);
		align-items: center;
		margin-top: auto;
		color: $course-color;
		padding: 0 26px;
		div {
			display: inline-flex;
			align-items: center;
			gap: toRem(2);
		}
	}

	&__cost {
		color: $action-color;
		padding: 0 26px 18px;
	}

	&__editBtn {
		position: relative;
		padding: 16px;
	}
}

.adminCourse {
	grid-row: span 2;
}

.backdropModal {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: $courses__background-color;
	opacity: 0.90;
	z-index: 100;
	border-radius: 11px;
}

.statusModal {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: $main-color;
	font-family: $font-family__DroidSans--bold;
	line-height: 120%;
	position: relative;

	img {
		margin-bottom: toRem(5);
	}

	&__editBtn {
		position: absolute;
		top: 1px;
		right: 1px;
		padding: 16px;
	}
}