@use '../../../utils/ScssUtils/toRem.scss' as *;
@use '../../../scssVariables' as *;

.lvlBlock {
	color: rgba(255, 255, 255, 0.5);
	width: 41.0625rem;
	background: #1b1b1b;
	border-radius: toRem(11);
	height: 3.3125rem;
	margin-bottom: toRem(10);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding-inline: toRem(25);
	font-family: $font-family__Inter;

	span:first-child {
		font-size: toRem(20);
		margin-right: toRem(23);
		font-family: $font-family__Inter--bold;
	}

	.infoOfLevel {
		display: flex;
		align-items: center;
	}

	.progressBlock {
		display: flex;
		height: 100%;
		gap: 5px;
		.subLevel {
			height: 100%;
			width: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			div {
				height: 10px;
				transition: transform 0.5s linear;
                &:hover {
                    transform: scale(1.3);
                }
			}
		}
	}
}

.lvlBlock:hover {
	transition: 0.5s;
	transform: scale(0.95);
	background: #151515;
}

.completeSubLevel {
	background: #0066ff;
}

.defaultSubLevelColor {
	background: #3a3a3a;
}

.borderRadiusLeft {
	border-radius: 3px 0 0 3px;
}

.borderRadiusRight {
	border-radius: 0 3px 3px 0;
}

.firstSubLevelPos {
	right: 0;
}

.thirdSubLevelPos {
	left: 53px;
}
