$main-background: #121212;
$input-background: #1b1b1b;
$wrongAuth-background: #ff0c46;
$button-background:  #06f;
$main-color: #ffffff;
$placeholder-color: rgba(255, 255, 255, 0.3);
$action-color: #06f;
$errorMessage-color: #ff0c46;


$authTitle-size: 23;
$inputType-size: 14;
$actionAuth_button-size: 16;
$isAccount-size: 12;
$errorMessage-size: 14;

