@font-face {
	font-family: 'Inter';
	src: url(./assets/fonts/Inter18pt-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-black';
	src: url(./assets/fonts/Inter18pt-Black.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-bold';
	src: url(./assets/fonts/Inter18pt-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-light';
	src: url(./assets/fonts/Inter18pt-Light.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'AnonymousPro';
	src: url(./assets/fonts/AnonymousPro-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova-black';
	src: url(./assets/fonts/ProximaNova-Black.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GothicA1';
	src: url(./assets/fonts/GothicA1-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro-bold';
	src: url(./assets/fonts/GothamPro-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DroidSans';
	src: url(./assets/fonts/DroidSans.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DroidSans-bold';
	src: url(./assets/fonts/DroidSans-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DrukTextWideCyr-heavy';
	src: url(./assets/fonts/DrukTextWideCyr-Heavy.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

