@use "_reset.scss";
@use "./Components/Header/Header.module";
@use "./scssVariables" as *;

#root{
    width: 100vw;
}

body {
    background: $main-background;
}

.App{
    width: calc(100% - 15%);
    margin: 0 auto;   
}

